# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Unignore 3D model objects
!objects/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
external/glew/*
external/glm/*
external/imgui/*
external/SDL2/*
external/stb/*
external/tinyobjloader/*
external/tinyxml2/*
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
*.ini

# macOS
*.DS_Store

# Xcode
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace

# Visual Studio
Debug/
x64/
.vs/
*.VC.db
*.VC.opendb
*.vcxproj.filters
*.vcxproj.user
