# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Unignore 3D model objects
!data/objects/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
external/*
build/*
bin/*
lib/*
*.ini

# macOS
*.DS_Store

# CMake
CMakeFiles/*
CMakeScripts/*
*.cmake
*CMakeCache.txt
Debug/*
Release/*
MinSizeRel/*
RelWithDebInfo/*
*.build/*

# Xcode
*.xcodeproj
*.build/*

# Visual Studio
Debug/
x64/
*.sln
*.vcxproj
*.vcxproj.*
*.VC.*
